*.[xX][mM][lL] filter=lfs diff=lfs merge=lfs -text
*.[bB][vV][hH] filter=lfs diff=lfs merge=lfs -text
*.[uU][sS][dD] filter=lfs diff=lfs merge=lfs -text
*.[uU][sS][dD][aA] filter=lfs diff=lfs merge=lfs -text
*.[uU][sS][dD][cC] filter=lfs diff=lfs merge=lfs -text
*.[sS][tT][lL] filter=lfs diff=lfs merge=lfs -text
*.[uU][rR][dD][fF] filter=lfs diff=lfs merge=lfs -text
*.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.[gG][iI][fF] filter=lfs diff=lfs merge=lfs -text
